#menu,
a,
header {
    color: #f6fdc3
}

.article-header,
.box,
.contenu {
    background-color: #f6fdc3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ff8080
}

#image1,
#tof {
    max-width: 100%
}

#menu,
.boites,
nav {
    display: flex
}

body {
    background-color: #ff8080;
    margin: 30px
}

nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

#logo {
    width: 10px
}

#menu {
    flex-wrap: nowrap;
    align-items: left;
    justify-content: space-around;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 50px
}

a:hover {
    text-decoration: underline;
    font-weight: 700
}

a {
    text-decoration: none
}

.article-header {
    text-align: left;
    font-size: x-large;
    border: 10px #f6fdc3;
    padding: 2% 2% 1%;
    border-radius: 10px
}

#image1 {
    justify-content: center;
    height: 100%;
    border-radius: 8px
}

.contenu {
    max-width: auto;
    text-align: left;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px
}

#tof,
.box {
    border-radius: 8px
}

.boites {
    justify-content: space-around;
    margin-top: 20px
}

.box {
    width: 24%;
    padding: 10px;
    box-sizing: border-box
}

#tof {
    justify-content: left;
    height: auto
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f6fdc3
}

.separator {
    height: 2px;
    background-color: #fff;
    width: 100%;
    margin-top: 10px
}