#C1,
#C2 {
    height: 100%
}

#C11,
#C12,
#C13 {
    height: 10%
}

#blog,
body {
    width: 1440px
}

#a1,
#a2,
#a3,
#a4,
.paris92,
.photoBBH {
    border-radius: 5%
}

#hero,
.form1 {
    padding: 50px;
    display: flex
}

#C1,
#C2,
#blog,
#bouton,
#hero,
#menu,
#photoBBH,
.articles,
.form1,
h1,
header,
menu {
    display: flex
}

body {
    background-color: #3a2c75
}

#menu {
    flex-wrap: nowrap;
    align-items: left;
    justify-content: space-around;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 50px
}

#C2,
a,
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#logo {
    width: 10px
}

a {
    color: #fff;
    text-decoration: none
}

#hero {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    background-color: #fff
}

.photohero {
    width: 720px;
    height: 470px
}

#C1 {
    flex-grow: 2;
    width: 60%;
    flex-direction: column;
    flex-wrap: nowrap
}

#C2 {
    flex-grow: 3;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 38%
}

a:hover {
    text-decoration: underline;
    font-weight: 700
}

#C12,
#C13 {
    color: #000
}

#bouton {
    border-color: #000 solid 1px;
    justify-content: center
}

#blog {
    justify-content: space-around;
    justify-content: center
}

#a1,
#a2,
#a3,
#a4 {
    height: 200px;
    border-collapse: collapse;
    width: 400px
}

#al1,
#al2 {
    margin: 10px;
    padding: 10px
}

.articles {
    flex-direction: center
}

header {
    flex-wrap: nowrap
}

#photoBBH {
    width: 40%;
    height: 40%;
    border-radius: 10%
}

.equipemetz,
.photoneptunes {
    width: 402px;
    height: 200px;
    border-radius: 5%
}

.paris92 {
    width: 80%;
    height: 90%;
    background-color: #cb6324
}

.form1,
.separator {
    background-color: #fff
}

h1 {
    justify-content: center;
    color: #cb6324
}

.form1 {
    color: #000;
    justify-items: center;
    justify-content: center;
    flex-flow: column;
    margin: 50px 100px;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    text-align: center;
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, .2)
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff
}

.separator {
    height: 2px;
    width: 100%;
    margin-top: 10px
}