#menu,
a {
    text-decoration: none;
    color: #fff
}

#hero,
.photohero {
    border-radius: 10px
}

#C1,
#C2 {
    height: 100%
}

#C11,
#C12,
#C13 {
    height: 10%
}

#blog,
#menu,
body {
    width: 100%
}

#al1,
#al2 {
    margin: 10px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#C12,
#C13,
#C2,
#blog,
#bouton,
#menu,
.articles,
.form1,
a,
header {
    color: #fff
}

#hero,
.form1 {
    display: flex;
    padding: 50px
}

#C2,
#a1,
#a2,
#a3,
#a4,
#al1,
#al2,
#bouton,
#menu,
.form1,
.titre {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.form1,
.separator {
    background-color: #fff
}

body {
    background-color: #3a2c75
}

#menu {
    display: flex;
    flex-wrap: nowrap;
    align-items: left;
    justify-content: space-around;
    margin-top: 50px
}

#logo {
    width: 10px
}

menu {
    display: flex
}

#hero {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    background-color: #cb6324
}

.photohero {
    width: 720px;
    height: 470px
}

#C1 {
    flex-grow: 2;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap
}

#C2 {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 38%
}

a:hover {
    text-decoration: underline;
    font-weight: 700
}

#bouton {
    border-color: #000 solid 1px;
    display: flex;
    justify-content: center
}

#blog {
    display: flex;
    justify-content: space-around;
    justify-content: center
}

#a1,
#a2,
#a3,
#a4 {
    height: 200px;
    border-collapse: collapse;
    border-radius: 5%;
    width: 400px
}

.photoBBH {
    border-radius: 5%
}

.articles {
    display: flex;
    flex-direction: center
}

header {
    display: flex;
    flex-wrap: nowrap
}

#photoBBH {
    display: flex;
    width: 40%;
    height: 40%;
    border-radius: 10%
}

.enfants-bullesL,
.photoneptunes,
.photosolidarité {
    width: 402px;
    object-fit: contain;
    height: 200px;
    border-radius: 5%
}

.femme,
.femme portrait,
.paris92 {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    object-fit: contain
}

.equipemetz {
    width: 402px;
    height: 200px;
    border-radius: 5%
}

h1 {
    display: flex;
    justify-content: center
}

.form1 {
    justify-items: center;
    justify-content: center;
    flex-flow: column;
    margin: 50px 100px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 10px 20px 1px#fff;
    border-color: #fff
}

.footer-content,
.titre {
    display: flex;
    justify-content: center;
    color: #fff
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    align-items: center
}

button {
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px
}

.separator {
    height: 2px;
    width: 100%
}